#home{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cover{
    width:100%;
    margin:10px;
    position:relative
}
#home-products-button{
    text-decoration: none;
    background-color: var(--green);
    color:white;
    font-size:3rem;
    border-radius:50px;
    padding: 0px 12px 3px 12px;
    position:absolute;
    bottom:48rem;
}
#home-products-button:hover{
    background-color: var(--darkgreen);
}
