:root{
    --background:rgb(255, 255, 255);
    --green: #63D471;
    --darkgreen: #164806;
    --grey: #dadada;
}

html{
    font-size:62.5%;
}

*{
    font-family: 'Zen Maru Gothic', sans-serif;
}

button{
    color:var(--background);
    text-decoration:none;
    background-color: var(--green);
    border:none;
}
button:hover{
    cursor:pointer;
    background: var(--darkgreen);
    border:none;

}

/* .ReactModal__Body--open {
    overflow: hidden;
    position: fixed;
    width: 100% ;
 } */

.modal_overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal-content{
    width:400px;
    overflow-y: auto;
    background-color: #fff;
    /* height:100%; */
}
.modal-header{
    padding:1.25rem;
}

.modal-title{
    margin:0;
}
.modal-body{
    padding:10px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

