#allProductsPage{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    color:var(--darkgreen);
}

#use-toggle-button{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom:5px;
    border-radius:30px;
    font-size: 2rem;
    margin:2rem;
    width: 12rem;
    height:4.7rem;
}

#use-toggle-button-hide{
    background-color: var(--background);
    border: 3px solid var(--green);
    color:var(--green);
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom:5px;
    border-radius:30px;
    font-size: 2rem;
    margin:2rem;
    width:12rem;
    height:4.7rem;
}

#use-toggle-button-hide:hover{
    background-color: var(--darkgreen);
    border: none;
    color:var(--background);
}

.uses{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;
    width:50%;
    min-width: 400px;
}

.uses-mapped{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.use{
    margin:0rem 2rem 2rem 2rem;
    padding:3px 10px 5px 10px;
    font-size: 2rem;
}

.use:hover{
    cursor:pointer;
    background-color:var(--green);
    color:var(--background);
    border-radius:50px;
}
.use-clicked{
    margin:0rem 2rem 2rem 2rem;
    padding:3px 10px 5px 10px;
    font-size: 2rem;
    cursor:pointer;
    background-color:var(--green);
    color:var(--background);
    border-radius:50px;
}

.products{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.product{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:240px;
    margin:30px;
}

.product-image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.product-image{
    transition: padding .3s, width .3s;
    width:95%;
    border-radius:50%;
    padding:5%;
}

.product-image:hover{
    cursor:pointer;
    width:100%;
    padding:0% 0% 0% 0%;
}

.product-name{
    font-size:2rem;
}