#cart{
    display:flex;
    flex-direction: column;
}
#cart-title{
    text-align:center;
    color:var(--darkgreen);
    font-size: 4rem;
    margin:3rem;
}

#cart-screen{
    display:flex;
    flex-direction:row;
    justify-content: right;;
    width:100vw;
}

#cart-items{
    display:flex;
    flex-direction: column;
    width:70%
}

.cart-item{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom:4rem;
    border-bottom:solid 1px var(--grey);
    margin: 2rem 2rem 4rem 2rem;
}
.cart-item-image{
    border-radius: 50%;
    width:15rem;
    height:15rem;
}
.cart-item-info{
    display:flex;
    flex-basis: 60%;
    flex-direction: column;
    margin: 1rem 3rem 1rem 3rem;
    color:var(--darkgreen);
    font-size:1.6rem;
}
.cart-item-name{
    font-size: 3rem;
    padding:0;
    margin:0;
}
.cart-item-size{
    margin-bottom:0;
    margin-top:.75;
}
.cart-item-quantity{
    margin-bottom:0;
    margin-top:.75;
}
.cart-item-price-info{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.cart-item-price{
    font-size: 2rem;
}
.cart-item-button{
    border-radius: 50px;
    font-size: 1.5rem;
    padding:3px 18px 5px 18px;
}

#cart-checkout-container{
    height:40rem;
    width:25%;
    display:flex;
    justify-content: right;
}
#cart-checkout{
    display:flex;
    height:40rem;
    width:20%;
    position:fixed;
    margin-right:5rem;
    flex-direction:column;
    align-items:center;
    border:solid 1px var(--grey);
    border-radius:50px 0 0 50px;
    font-size:1.5rem;
    color:var(--darkgreen);
}

#cart-checkout-header{
    background-color: var(--green);
    width:100%;
    text-align:center;
    border-radius:50px 0 0 0;
    margin-bottom:2rem;
}

#cart-checkout-grandTotalPrice{
    font-size:2rem;
    border-top:solid 1px var(--grey);
    padding-top:2rem;
    font-weight: bolder;
}

#cart-checkout-button{
    border-radius: 50px;
    font-size: 2rem;
    padding:3px 18px 5px 18px;
    margin-top:2rem;
    
}
